<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul>
            <!-- <ul> öğesini ekledik -->
            <li>
                <!-- <li> öğesini bir <ul> öğesi içine taşıdık -->
                <a href="/Staff/Index/" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Personeller</span>
                </a>
            </li>
            <li>
                <!-- <li> öğesini bir <ul> öğesi içine taşıdık -->
                <a href="/Testimonial/Index/" aria-expanded="false">
                    <i class="icon-lock menu-icon"></i><span class="nav-text">Referanslar</span>
                </a>
            </li>
        </ul> <!-- <ul> öğesini kapattık -->
    </div>
</div>
